.menu {
    list-style: none;
}

.menu a {
    text-decoration: none;
    font-family: Verdana;
    font-size: 12px;
    color: rgb(48, 47, 47);

}

.menu li{
    width: 80px;
    padding-top: 10px;
    margin: 0;
    position: relative;
    display: inline;
    float: left;
}

.menu {
    display: flex;
    margin-top: 20px; 
    padding: 0;
    width: auto;
    height: 30px;
    justify-content: space-around;
    align-content: flex-end
}

h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 24px; 
    padding-top: 10px;
    padding-left: 60px;
    margin-bottom: 0;
    width: auto;
    height: 50px;
    background-color: rgb(128, 128, 128);
    color: white;
}

span {
    font-size: 40px;
    font-family: Helvetica;
    font-style: italic;
    color: rgba(255, 255, 0, 0.618);
}

.msg_inicial {
    width: 900px;
    display: flex;
    height: 30px;
    padding-top: 20px;
    justify-content: space-around;
    align-content: flex-end
    

}

.msg_inicial h2 {
   font-size: 25px;
   font-family: helvetica;
   margin-top: 5px;
}

.galery {
    justify-content: center;
    width: auto;
    height: 420px;
    background-color: white;
    overflow: hidden;
    border: 20px white solid;
    padding: 0%;


}
  
.galery .fotos {
    width: 502%;
    animation-name: animacao;
    animation-duration: 20s;
    animation-iteration-count: infinite;

}

.galery .fotos img {
    width: 19.9%;

}

.redes_sociais {
    display: flex;
    width: auto;
    padding-left: 80px;
    padding-right: 800px;
    justify-content: space-around;
}

.sobre_nos {
    width: 340px;
    padding-left: 100px;
}

.sobre_nos h2 {
    font-size: 20px;
    font-family: helvetica;
    color: rgb(81, 80, 80);
}

.sobre_nos p {
    font-size: 14px;
    font-family: helvetica;
}
.rodape {
    width: auto;
}
.rodape ul {
    list-style: none;
}

#aviao_sn {
    padding: 0;
}

.rodape ul {
    width: 340px;
    padding-left: 100px;


}

.rodape h3 {
    font-size: 20px;
    font-family: helvetica;
    color: rgb(81, 80, 80);
}

.rodape li {
    font-size: 14px;
    font-family: helvetica;
}

.rodape p {
    font-size: 14px;
    font-family: helvetica;
    padding-left: 100px;
    padding-top: 50px;
}